@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto', sans-serif;
}

.container{
    background-color: #374045;
    overflow: auto;
}

.header{
    color: #d89216;
    height: 100px;
    background-color: #2c061f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.searchInput{
    background-color: #e1d89f;
    width: 50%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.navbar{
    background-color: #2c061f;
    width: 200px;
    height: 100vh;
}

.navText{
    color: #d89216;
    display: flex;
    align-items: center;
    padding: 8px 0px 8px 50px;
    list-style: none;
    height: 100px;
}

.noteText{   
    background-color: #e1d89f;
    min-height: 100px;
    max-width: 200px;
    border: 1px solid black;
    float: right;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    list-style: none;
}
