@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #2C3531;
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 95vw;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  height: 90vh;
  border: 3px solid #6F2232;
  padding: 30px;
  border-radius: 5px;
}

.nav{
  color: #D9B08C;
  padding: 10px 10px 20px 10px;
}

.noteForm {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.noteForm input {
  width: 500px;
  height: 40px;
  margin: 5px;
  padding: 10px 10px;
  font-size: 17px;
  outline: none;
}

.noteFormBtn {
  display: inline-block;
  border: none;
  padding: 10px 15px;
  outline: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: #D9B08C;
  color: #2C3531;
}

.textArea {
  outline: none;
  border-radius: 5px;
  border: 3px solid #6F2232;
  background-color: #D1E8E2;
  resize: none;
  padding: 10px;
}

.notesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note{
  max-width: 50%;
  min-width: 10%;
  margin: 10px;
  padding: 13px;
  border-radius: 5px;
  border: solid #6F2232 2px;
  background-color: #D1E8E2;
  color: #2C3531;
}

.btnContainer{
  display: flex;
  justify-content: flex-end;
}

.btnContainer button {
  margin-right: 10px;
  margin-top: 10px;
}

.edit {
  color: #6F2232;
  background: #D9B08C;
  padding: 5px 10px;
  border: none;
}

.delete {
  color: #D9B08C;
  background: #6F2232;
  padding: 5px 10px;
  border: none;
}
